@{
    ViewBag.Title = "Query";
    Layout = "~/Areas/SHTracker/Views/Shared/_Layout.cshtml";
}
@section Head{
    <style type="text/css">
        form {
            margin-left: 10px;
        }

            form textarea {
                width: 90%;
                min-height: 150px;
            }
            #result {
                width: 90%;
                padding: 20px;
                clear: both;
            }
            table {
                width: 100%;
            }
    </style>
}
<h2>Database Query</h2>
@using (Html.BeginForm())
{
    <div class="toolbar">

        @Html.DropDownList("method", new[] { new SelectListItem { Text = "SELECT", Value = "0" }, new SelectListItem { Text = "Exec", Value = "1" } }) Input SQL:<br />

        @Html.TextArea("sql", (string)ViewBag.SQL ?? "")<br />
        <input type="submit" value="Execute" />

    </div>
}
<div id="result">
    @Html.Raw(ViewBag.HTML)
</div>