body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
{
    margin:0;padding:0;
    width:auto;
}
h1,h2,h3,h4,h5,h6
{
    font-size:100%;
}
ol,ul,li
{
    list-style:none;
}
address,caption,cite,code,dfn,em,strong,th,var
{
    font-style:normal;
    font-weight:normal;    
}
table
{
    border-collapse:collapse;
    border-spacing:0;
}
img
{
    border:0;
}
caption,th
{
    text-align:left;
}

q:before,q:after
{
    content:'';
}
html{text-align:center;}
body,#wrapper
{
    margin:0 auto;
    padding:0 auto;
    text-align:left;
    background-color:#FFFFFF;
    color:#000000;
    font-family:Arial;
    font-size:12px; line-height:25px;
    }
    dl{float:left;width:100%;margin-top:10px;}
dl dt,dl dd{float:left;}

th{ background-image:url(/SHTracker/images/barbg3.jpg);height:28px; text-align:center;font-weight:bold;border:solid 1px #CCC}
td{border:solid 1px #ccc;text-align: center;}

        input{border:1px solid #999;}