@using ICStars2_0.Mvc
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
@section Head
{
    <style type="text/css">
        h1{text-align:center;}
    </style>
}
<div class="nav"><h1>COMMUNITY ENGAGEMENT SYSTEM</h1></div>