
span.PageBar2
        {
            /*width: 578px;*/
            font-size: 12px;
            font-family: Tahoma;
            float:none;
        }
        span.PageBar2 label
        {
            color: #3399FF;
        }
        span.PageBar2 span,.PageBar2 a,.PageBar2 label
        {
            display:inline; padding:0px 2px;
        }
        span.PageBar2 span img{ padding-top:4px;}
        span.PageBar2 span a{  padding:0px 2px;}
        
       
        span.PageBar2 a:hover
        {
            text-decoration:underline;
        }
      
        span.PageBar2 span a:hover { background-color:#009900; color:#FFFFFF;}
        /* Current Page Number */
        span.PageBar2 span label
        {
            color:#A10000;
            font-weight:bold;
        }