body section {
    width: 960px;
    margin: 0 auto;
    height: 300px;
    background-color: transparent;
}

    body section#top div {
        width: 550px;
        height: 300px;
        float: left;
    }

    body section#top article {
        font-family: Cambria;
        padding: 60px 20px 20px 20px;
        font-size: 20px;
        width: 370px;
        float: left;
        height: 220px;
        color: #ffffff;
        background-color: #2E6C9F;
        font-weight: normal;
    }

#middle {
    height: 130px;
}

    #middle .west p {
        text-align: center;
        width: 360px;
        height: 90px;
        margin: 20px 0 20px 0;
        background-color: #2E6C9F;
        color: #ffffff;
        font-size: 25px;
        font-weight: normal;
        line-height: 90px;
    }

    #middle .center a {
        border: 1px solid #D5D2BC;
        width: 140px;
        height: 88px;
        margin: 20px 5px 20px 15px;
        color: #315B6C;
        font-size: 18px;
        text-align: center;
        background: #E2E3D5;
        display: block;
    }

        #middle .center a span {
            margin-top: 10px;
            display: block;
        }

    #middle .east ul {
        margin: 20px 0 0 0;
        padding: 0 0 0 15px;
    }

        #middle .east ul li {
            width: 49%;
            float: left;
            border-bottom: 1px solid #D5D2BC;
            line-height: 28px;
            font-size: 13px;
            font-weight: bold;
        }

            #middle .east ul li a {
                color: #6A6F60;
            }

#bot {
    height: 400px;
}

    #bot div.west {
        width: 238px;
        border: 1px solid #CDD1BD;
    }

    #bot div.east {
        margin-left: 20px;
        width: 698px;
        border: 1px solid #CDD1BD;
    }

    #bot div h3 {
        padding: 5px 10px 5px 10px;
        border-bottom: 1px solid #CDD1BD;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #eff0e3 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eff0e3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#eff0e3 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#eff0e3 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#eff0e3 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%,#eff0e3 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eff0e3',GradientType=0 ); /* IE6-9 */
    }

    #bot div ul {
        min-height: 296px;
        background-color: #ffffff;
        padding-top: 10px;
        float: left;
        width: 100%;
    }

        #bot div ul li {
            line-height: 18px;
            padding: 0 10px 0 10px;
            background-color: #ffffff;
        }

    #bot div.east ul li {
        position: relative;
        min-height: 296px;
        width: 212px;
        float: left;
    }

        #bot div.east ul li p.links {
            position: absolute;
            bottom: 10px;
        }

    #bot div ul li h4 {
        padding: 5px 0 10px 0;
        font-weight: normal;
    }
/*grid-c3-w9c4e11*/
.grid-c3-w9c4e11 {
    float: left;
    width: 960px;
    display: block;
    zoom: 100%;
}

    .grid-c3-w9c4e11 .west {
        float: left;
        display: block;
        width: 360px;
    }

    .grid-c3-w9c4e11 .center {
        float: left;
        display: block;
        width: 160px;
    }

    .grid-c3-w9c4e11 .east {
        float: left;
        display: block;
        width: 440px;
    }
/*grid-c3-w9c4e11 end*/
/*grid-c2-w6e18*/
.grid-c2-w6e18 {
    float: left;
    width: 960px;
}

    .grid-c2-w6e18 .west {
        float: left;
        width: 240px;
    }

    .grid-c2-w6e18 .east {
        float: left;
        width: 720px;
    }
/*grid-c2-w6e18 end*/
