
        .box {
            margin: 0 auto;
            width: 600px;
            height: auto;
            border: solid 1px #2E6C9F;
            background: #F4F4F4;
            padding-top: 5px;
        }
        .box h2 {
            margin: 0 auto;
            width: 98%;
            text-align: center;
            color: #F4F4F4;
            background: #2E6C9F;
        }
        body section {
            background: transparent;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        body form {
            margin: 0 auto;
            padding-top: 5px;
            padding-bottom: 5px;
        }