a:link
{
    color:#000000;
    text-decoration:none;
}
a:visited
{
    color:#000000;
    text-decoration:none;
}
a:hover
{
    color:red;
    text-decoration:none;
}
a:active
{
    color:red;
    text-decoration:none;
}
/*blue*/
a.link_blue:link
{
    color:#3366cc;
}
a.link_blue:visited
{
    color:#3366cc;
}
/*blue end*/
/*0099cc*/
a.link_0099cc:link
{
    color:#0099cc;
}
a.link_0099cc:visited
{
    color:#0099cc;
}
/*0099cc end*/
/*white*/
a.link_white:link
{
    color:#FFFFFF;
}
a.link_white:visited
{
    color:#FFFFFF;
}
/*white end*/
/*green*/
a.link_green:link
{
    color:#0A6A00;
}
a.link_green:visited
{
    color:#0A6A00;
}
/*green end*/
/*gray*/
a.link_gray:link
{
    color:#AAAAAA;
}
a.link_gray:hover
{
    color:#AAAAAA;
    text-decoration:underline;
}
a.link_gray:visited
{
    color:#AAAAAA;
}
/*gray end*/
/*red*/
a.link_red:link
{
    color:red;
}
a.link_red:hover
{
    color:red;
    text-decoration:underline;
}
a.link_red:visited
{
    color:red;
}
/*red end*/

a.underline
{
    text-decoration:underline;
}

