
        table, table td
        {
            text-align: left;
        }
        fieldset{width:95%;float:left;margin-top:20px;}
        fieldset {
    border: 1px solid #000;
    margin: 0px 2% 0px 2%;
    padding: 0;
}

    fieldset legend {
        display: block;
        font-weight:bold;
        font-size:16px;
    }
    fieldset label{display:inline-block;}
        fieldset div{width:48%;float:left;}
        table#hours_list td{ text-align: center;}
          .for-dialog
    {
        display:none;
        }