
.PageBar4
        {
            font-size: 12px;
            font-family: Tahoma;
            float:left;
            width:100%;
        }
        .PageBar4 a
        {
            display: inline;
            float: left;
            font-size: 14px;
            padding: 0px 10px;
            margin-left: 5px;
            background-color: #fff;
            height: 23px;
            line-height: 23px;
            border: 1px solid #dfdfdf;
            text-decoration: none;
            color: #999;
        }
        .PageBar4 a:hover
        {
            color: #a10000;
        }
        .PageBar4 span
        {
            margin-left: 5px;
            line-height: 25px;
            color: #9f9f9f;
            font-size: 14px;
            display: inline;
            float: left;
        }
        .PageBar4 span img,.PageBar4 a img
        {
            margin-top: 3px;
        }
        .PageBar4 em 
        {font-style:normal;color:#A10000;}
        .PageBar4 label 
        {
            
            display: inline;
background-color:#FFFFFF;
            float: left;
            font-size: 14px;
            padding: 0px 10px;
            margin-left: 5px;
            background-color: #fff;
            height: 23px;
            line-height: 23px;
            border: 1px solid #A10000;
            text-decoration: none;
            color: #A10000;
}