@import url(http://www.markmurray.co/codepen/entypostyle.css);
/*@import url('entypostyle.css');*/
*, *:after, *:before {
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

/*html, body {
  background: #eff0f1;
}*/

/*.container {
  width: 25em;
  margin: 0 auto 3em auto;
  text-align: center;
  overflow: hidden;
}*/

.row {
  margin: 0.5em 0;
  float: left;
  clear: both;
}
.row i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/*.row:first-child {
  background: #f8f8f8;
  padding: 0.5em 0;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.row:first-child i {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #fff;
  padding: 0.5em 1em;
  margin: 0;
  text-shadow: 1px 1px 0 white;
}
.row:first-child i:hover {
  color: #34495e !important;
}
.row:first-child i:nth-child(1) {
  color: #3b5998;
  border-left: none;
}
.row:first-child i:nth-child(2) {
  color: #00a0d1;
}
.row:first-child i:nth-child(3) {
  color: #db4a39;
}
.row:first-child i:nth-child(4) {
  color: #c8232c;
}
.row:first-child i:nth-child(5) {
  color: #ea4c89;
  border-right: none;
}*/


.row:nth-child(1) {
  background: transparent;
}
.row:nth-child(1) i {
  color: white;
  padding: 1em;
  position: relative;
  background: transparent;
}
 i:hover {
  border-radius: 50%;
}
 i:not(:first-child) {
  margin-left: 1em;
}
 /*a:nth-child(1) > i:nth-child(1)*/
 a:nth-child(1)  i.icon-facebook {
  color: #3B5998;
  border: 2px solid #3B5998;
}
 a:nth-child(1)  i.icon-facebook:hover {
  color: white;
  background: #3B5998;
}
 a:nth-child(2)  i.icon-twitter {
  color: #00a0d1;
  border: 2px solid #00a0d1;
}
 a:nth-child(2)  i.icon-twitter:hover {
  color: white;
  background: #00a0d1;
}
 a:nth-child(3)  i.icon-mail{
  color: #db4a39;
  border: 2px solid #db4a39;
}
 a:nth-child(3)  i.icon-mail:hover {
  color: white;
  background: #db4a39;
}
a:nth-child(4)  i.icon-linkedin {
  color: #4875B4;
  border: 2px solid #4875B4;
}
a:nth-child(4)  i.icon-linkedin:hover {
  color: white;
  background: #4875B4;
}
/*.row:nth-child(6) i:nth-child(5) {
  color: #ea4c89;
  border: 2px solid #ea4c89;
}
.row:nth-child(6) i:nth-child(5):hover {
  color: white;
  background: #ea4c89;
}*/
